{
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier"
    ],
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "prefer-const": "warn",
        "prettier/prettier": "warn"
    }
}
