.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-blue-primary);
    padding-top: 4vw;
    padding-bottom: 2vw;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item-title {
    color: var(--color-white-original);
}