.offer {
    padding: 2vw 4vw;
}
.offer-title {
    text-align: center;
    margin: auto;
    padding: 1vw;
    background-color: var(--color-blue-primary);
    width: max-content;
    border-radius: 2vw 2vw 1vw 1vw;
    color: var(--color-white-original);
    font-size: 1.7vw;
    margin-bottom: 1vw;
}

.offer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40vw;
    border-bottom: 1px solid var(--color-black-primary);
    font-size: 2vw;
    padding: 0 2vw;
}
.offer-header:nth-child(1) {
    margin-left: auto;
}
.offer-header-item:nth-child(2) {
    position: absolute;
}
.offer-header-item:nth-child(3) {
    margin-right: auto;
}


.offer-header-item {
    font-size: 1.5vw;
}
.offer-header-item:hover {
    color: var(--color-blue-primary);
    border-bottom: 2px solid var(--color-blue-primary);
}

.offer-items {
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2vw;
}
.offer-item {
    width: 18vw;
    height: 21vw;
}