.adminpage{
}
.adminpage-sidebar {
    width: 20%;
    height: 100vh;
}
.adminpage-content {
  display: flex;
}
.sidebar-content {
  padding: 2vw;
  width: 80%;
  background-color: #512FFF1A;
  border-radius: 0 2vw 0 0;
}
