.admin-products {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}
.admin-products-table {
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 1vw;
    overflow: hidden;
}

.admin-products-table td, .admin-products-table th {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1vw;
}
.admin-products-table th {
    background-color: #512FFF0D;
}
.admin-products-table tr {
    margin: 0;
    padding: 0;
}
