.sidebar {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.sidebar-item {
  display: flex;
  align-items: center;
  font-size: 1vw;
  padding: 1vw;
  border-radius: 1vw;
  width: 100%;
  font-weight: bold;
}
.sidebar-item.active {
  background-color: #512FFF1A;
  color: #512FFF;
}
.sidebar-item-icon {
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.5vw;
}
