.section-1 {
    padding: 2vw 4vw;
    position: relative;
}
.section-1-title {
    display: flex;
    align-items: center;
}
.section-1-title > h1 {
    font-size: 4vw;
    margin-left: 0.5vw;
}
.section-1-title > h1 > span {
    color: var(--color-blue-primary);
}
.section-1-title > h2 {
    font-size: 2vw;
}
.section-1-title > h2 > span:first-of-type {
    color: var(--color-green-primary);
}
.section-1-title > h2 > span:nth-child(2) {
    color: var(--color-orange-primary);
}
.section-1-content {
    padding-top: 2vw;
    font-size: 1.5vw;
    max-width: 39vw;
}
.section-1-btns {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 2vw 0;
}
.section-1-img {
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 5vw;
    top: 0;
}
.online-vet {
    padding: 2vw 4vw;
}
.online-vet-title {
    font-size: 2vw;
    font-weight: bold;
    margin-left: 2vw;
    color: var(--color-green-primary);
}
.online-vet-content-right {
    margin-top: 1vw;
    background-color: var(--color-white-original);
    width: 40%;
    border-radius: 1vw;
    padding: 1vw;
    line-height: 2vw;
    font-size: 1.2vw;
}
