.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
}
.navbar-vet, .navbar-train, .navbar-grooming {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    width: auto;
    padding: 0.5rem;
}

/* style box navbar vet */

.navbar-vet {
    color: var(--color-green-primary);
    background-color: var(--color-green-btn-primary);

}

.navbar-vet:hover{
    color: var(--color-blue-primary);
    transition: 0.5s;
}

/* style box navbar train */

.navbar-train {
    color: var(--color-orange-primary);
    background-color: var(--color-green-btn-orange);
}

.navbar-train:hover {
    color: var(--color-blue-primary);
    transition: 0.5s;
}

/* style box  navbar grooming */

.navbar-grooming {
    color: var(--color-lightblue-primary);
    background-color: var(--color-lightblue-btn-primary);
}

.navbar-grooming:hover {
    color: var(--color-blue-primary);
    transition: 0.5s;
}






.navbar-vet, .navbar-train, .navbar-grooming {
    margin-left: 1vw;
}

.navbar-vet-img, .navbar-train-img, .navbar-grooming-img {
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 0.5vw;
    background-color: var(--color-white-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.2vw rgb(180, 180, 180));
    margin-left: 1vw;
}

.navbar-vet-img *, .navbar-train-img *, .navbar-grooming-img * {
    width: 70%;
    height: 70%;
}



.logo-header {
    width: 10vw;
    height: auto;
    margin-top: 10%;
}

.navbar-section-left, .navbar-section-right, .navbar-section-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-section-left {
    margin-right: auto;
}
.navbar-section-right {
    margin-left: auto;
}
.navbar-section-center {
    position: absolute;
}


.navbar-profile, .navbar-cart, .navbar-phone {
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

.navbar-phone {
    width: max-content;
    padding: 1vw 0.5vw;
}

.navbar-profile *, .navbar-cart * {
    width: 70%;
    height: 70%;
}

.navbar-phone img {
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
}


/* media queries */ 


/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) {
  
    .navbar-vet, .navbar-train, .navbar-grooming {
        font-size: 0.7rem;

    }

    .navbar-phone {
        width: max-content;
        padding: 0.8rem 0.3rem;
        border-radius: 5px;
    }

    .navbar-phone-text {
        font-size: 0.7rem;
    }

        .phone-icon {
            height: 1.5rem;
            width: 0.8rem;
        }
    

    
  }
  

  /* Tablet*/



  /* MOBILE */

  @media (min-width: 320px) and (max-width: 480px) {
  
   .navbar {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

    .navbar-section-right {
    display: none;
    visibility: hidden;
}
    
  }

  /* Mobile */



  