.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
}
.navbar-vet, .navbar-train, .navbar-grooming {
    display: flex;
    align-items: center;
    background-color: var(--color-white-original);
    font-size: 0.9vw;
    filter: drop-shadow(0 0 0.2vw rgb(180, 180, 180));
    border-radius: 0.5vw;
    width: 11vw;
    height: 2vw;
    padding: 0 0.3vw;
}


.navbar-vet, .navbar-train, .navbar-grooming {
    margin-left: 1vw;
}

.navbar-vet-img, .navbar-train-img, .navbar-grooming-img {
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 0.5vw;
    background-color: var(--color-white-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.2vw rgb(180, 180, 180));
    margin-left: 1vw;
}

.navbar-vet-img *, .navbar-train-img *, .navbar-grooming-img * {
    width: 70%;
    height: 70%;
}



.logo-header {
    width: 10vw;
    height: auto;
    margin-top: 10%;
}

.navbar-section-left, .navbar-section-right, .navbar-section-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-section-left {
    margin-right: auto;
}
.navbar-section-right {
    margin-left: auto;
}
.navbar-section-center {
    position: absolute;
}


.navbar-profile, .navbar-cart, .navbar-phone {
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 0.2vw rgb(180, 180, 180));
    margin-right: 1vw;
}

.navbar-phone {
    width: max-content;
    padding: 1vw 0.5vw;
}

.navbar-profile *, .navbar-cart * {
    width: 70%;
    height: 70%;
}

.navbar-phone img {
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
}